PolarionAPI/WSConnector/Service References/Builder/BuilderWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns3="http://ws.polarion.com/types" xmlns:intf="http://ws.polarion.com/BuilderWebService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns4="http://ws.polarion.com/BuilderWebService-types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns5="http://ws.polarion.com/TrackerWebService-types" xmlns:tns1="http://ws.polarion.com/BuilderWebService-impl" xmlns:tns2="http://ws.polarion.com/ProjectWebService-types" xmlns:impl="http://ws.polarion.com/BuilderWebService" targetNamespace="http://ws.polarion.com/BuilderWebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ws.polarion.com/BuilderWebService-impl">
      <xsd:import namespace="http://ws.polarion.com/types" />
      <xsd:import namespace="http://ws.polarion.com/ProjectWebService-types" />
      <xsd:import namespace="http://ws.polarion.com/BuilderWebService-types" />
      <xsd:import namespace="http://ws.polarion.com/TrackerWebService-types" />
      <xsd:element name="getBuilds">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="project" type="tns2:Project" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getBuildsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="getBuildsReturn" type="tns4:Build" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="queryBuilds">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="project" type="tns2:Project" />
            <xsd:element name="query" type="xsd:string" />
            <xsd:element name="sort" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="queryBuildsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="queryBuildsReturn" type="tns4:Build" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllBuilds">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="getAllBuildsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="getAllBuildsReturn" type="tns4:Build" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ws.polarion.com/types">
      <xsd:import namespace="http://ws.polarion.com/ProjectWebService-types" />
      <xsd:import namespace="http://ws.polarion.com/BuilderWebService-types" />
      <xsd:import namespace="http://ws.polarion.com/TrackerWebService-types" />
      <xsd:complexType name="Text">
        <xsd:sequence>
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="content" type="xsd:string" />
          <xsd:element name="contentLossy" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="SubterraURI">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:complexType name="ArrayOfSubterraURI">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SubterraURI" type="tns3:SubterraURI" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Location">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:complexType name="ArrayOfstring">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="string" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="duration">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:complexType name="Revision">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="author" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="created" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="internalCommit" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="linkedWorkItemURIs" type="tns3:ArrayOfSubterraURI" />
          <xsd:element minOccurs="0" maxOccurs="1" name="message" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="repositoryName" type="xsd:string" />
        </xsd:sequence>
        <xsd:attribute name="uri" type="tns3:SubterraURI" />
        <xsd:attribute name="unresolvable" type="xsd:boolean" />
      </xsd:complexType>
      <xsd:complexType name="ArrayOfRevision">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Revision" type="tns3:Revision" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfLocation">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Location" type="tns3:Location" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="property">
        <xsd:sequence>
          <xsd:element name="key" type="xsd:string" />
          <xsd:element name="value" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Properties">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="property" type="tns3:property" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Currency">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ws.polarion.com/ProjectWebService-types">
      <xsd:import namespace="http://ws.polarion.com/types" />
      <xsd:import namespace="http://ws.polarion.com/BuilderWebService-types" />
      <xsd:import namespace="http://ws.polarion.com/TrackerWebService-types" />
      <xsd:complexType name="User">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="description" type="tns3:Text" />
          <xsd:element minOccurs="0" maxOccurs="1" name="disabledNotifications" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="email" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="voteURIs" type="tns3:ArrayOfSubterraURI" />
          <xsd:element minOccurs="0" maxOccurs="1" name="watcheURIs" type="tns3:ArrayOfSubterraURI" />
        </xsd:sequence>
        <xsd:attribute name="uri" type="tns3:SubterraURI" />
        <xsd:attribute name="unresolvable" type="xsd:boolean" />
      </xsd:complexType>
      <xsd:complexType name="Project">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="active" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="description" type="tns3:Text" />
          <xsd:element minOccurs="0" maxOccurs="1" name="finish" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lead" type="tns2:User" />
          <xsd:element minOccurs="0" maxOccurs="1" name="location" type="tns3:Location" />
          <xsd:element minOccurs="0" maxOccurs="1" name="lockWorkRecordsDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="projectGroupURI" type="tns3:SubterraURI" />
          <xsd:element minOccurs="0" maxOccurs="1" name="start" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="trackerPrefix" type="xsd:string" />
        </xsd:sequence>
        <xsd:attribute name="uri" type="tns3:SubterraURI" />
        <xsd:attribute name="unresolvable" type="xsd:boolean" />
      </xsd:complexType>
      <xsd:complexType name="ArrayOfUser">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="User" type="tns2:User" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ws.polarion.com/BuilderWebService-types">
      <xsd:import namespace="http://ws.polarion.com/types" />
      <xsd:import namespace="http://ws.polarion.com/ProjectWebService-types" />
      <xsd:import namespace="http://ws.polarion.com/TrackerWebService-types" />
      <xsd:complexType name="BuildIsAvailableResults">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="errorCount" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="failureCount" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="skippedCount" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="testCount" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BuildLinkedWorkItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="revision" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="role" type="tns5:EnumOptionId" />
          <xsd:element minOccurs="0" maxOccurs="1" name="workItem" type="tns5:WorkItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfBuildLinkedWorkItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="BuildLinkedWorkItem" type="tns4:BuildLinkedWorkItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Build">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="author" type="tns2:User" />
          <xsd:element minOccurs="0" maxOccurs="1" name="birLocation" type="tns3:Location" />
          <xsd:element minOccurs="0" maxOccurs="1" name="buildDescriptorName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="buildStamp" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="buildStatus" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="buildTag" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="buildIsAvailableResults" type="tns4:BuildIsAvailableResults" />
          <xsd:element minOccurs="0" maxOccurs="1" name="calculationDescriptorName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="creationTime" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="finishTime" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="linkedWorkItems" type="tns4:ArrayOfBuildLinkedWorkItem" />
          <xsd:element minOccurs="0" maxOccurs="1" name="localDeploymentSpaceName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="logFiles" type="tns3:ArrayOfLocation" />
          <xsd:element minOccurs="0" maxOccurs="1" name="startTime" type="xsd:dateTime" />
        </xsd:sequence>
        <xsd:attribute name="uri" type="tns3:SubterraURI" />
        <xsd:attribute name="unresolvable" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ws.polarion.com/TrackerWebService-types">
      <xsd:import namespace="http://ws.polarion.com/types" />
      <xsd:import namespace="http://ws.polarion.com/ProjectWebService-types" />
      <xsd:import namespace="http://ws.polarion.com/BuilderWebService-types" />
      <xsd:complexType name="EnumOptionId">
        <xsd:sequence>
          <xsd:element name="id" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Approval">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="status" type="tns5:EnumOptionId" />
          <xsd:element minOccurs="0" maxOccurs="1" name="user" type="tns2:User" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfApproval">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Approval" type="tns5:Approval" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Attachment">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="author" type="tns2:User" />
          <xsd:element minOccurs="0" maxOccurs="1" name="fileName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="length" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="title" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="updated" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="url" type="xsd:string" />
        </xsd:sequence>
        <xsd:attribute name="uri" type="tns3:SubterraURI" />
        <xsd:attribute name="unresolvable" type="xsd:boolean" />
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAttachment">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Attachment" type="tns5:Attachment" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Category">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="description" type="tns3:Text" />
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
        </xsd:sequence>
        <xsd:attribute name="uri" type="tns3:SubterraURI" />
        <xsd:attribute name="unresolvable" type="xsd:boolean" />
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCategory">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Category" type="tns5:Category" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Comment">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="author" type="tns2:User" />
          <xsd:element minOccurs="0" maxOccurs="1" name="childCommentURIs" type="tns3:ArrayOfSubterraURI" />
          <xsd:element minOccurs="0" maxOccurs="1" name="created" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="parentCommentURI" type="tns3:SubterraURI" />
          <xsd:element minOccurs="0" maxOccurs="1" name="text" type="tns3:Text" />
          <xsd:element minOccurs="0" maxOccurs="1" name="title" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="visibleTo" type="tns3:ArrayOfstring" />
        </xsd:sequence>
        <xsd:attribute name="uri" type="tns3:SubterraURI" />
        <xsd:attribute name="unresolvable" type="xsd:boolean" />
      </xsd:complexType>
      <xsd:complexType name="ArrayOfComment">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Comment" type="tns5:Comment" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExternallyLinkedWorkItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="role" type="tns5:EnumOptionId" />
          <xsd:element minOccurs="0" maxOccurs="1" name="workItemURI" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfExternallyLinkedWorkItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ExternallyLinkedWorkItem" type="tns5:ExternallyLinkedWorkItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Hyperlink">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="role" type="tns5:EnumOptionId" />
          <xsd:element minOccurs="0" maxOccurs="1" name="uri" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfHyperlink">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Hyperlink" type="tns5:Hyperlink" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LinkedWorkItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="revision" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="role" type="tns5:EnumOptionId" />
          <xsd:element minOccurs="0" maxOccurs="1" name="suspect" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="workItemURI" type="tns3:SubterraURI" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfLinkedWorkItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="LinkedWorkItem" type="tns5:LinkedWorkItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PlanningConstraint">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="constraint" type="tns5:EnumOptionId" />
          <xsd:element minOccurs="0" maxOccurs="1" name="date" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPlanningConstraint">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="PlanningConstraint" type="tns5:PlanningConstraint" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PriorityOptionId">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns5:EnumOptionId">
            <xsd:sequence />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="TimePoint">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="closed" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="description" type="tns3:Text" />
          <xsd:element minOccurs="0" maxOccurs="1" name="earliestPlannedStart" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="time" type="xsd:date" />
        </xsd:sequence>
        <xsd:attribute name="uri" type="tns3:SubterraURI" />
        <xsd:attribute name="unresolvable" type="xsd:boolean" />
      </xsd:complexType>
      <xsd:complexType name="WorkRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="comment" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="timeSpent" type="tns3:duration" />
          <xsd:element minOccurs="0" maxOccurs="1" name="type" type="tns5:EnumOptionId" />
          <xsd:element minOccurs="0" maxOccurs="1" name="user" type="tns2:User" />
        </xsd:sequence>
        <xsd:attribute name="uri" type="tns3:SubterraURI" />
        <xsd:attribute name="unresolvable" type="xsd:boolean" />
      </xsd:complexType>
      <xsd:complexType name="ArrayOfWorkRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="WorkRecord" type="tns5:WorkRecord" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Custom">
        <xsd:sequence>
          <xsd:element name="key" type="xsd:string" />
          <xsd:element name="value" nillable="true" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCustom">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Custom" type="tns5:Custom" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WorkItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="approvals" type="tns5:ArrayOfApproval" />
          <xsd:element minOccurs="0" maxOccurs="1" name="assignee" type="tns2:ArrayOfUser" />
          <xsd:element minOccurs="0" maxOccurs="1" name="attachments" type="tns5:ArrayOfAttachment" />
          <xsd:element minOccurs="0" maxOccurs="1" name="author" type="tns2:User" />
          <xsd:element minOccurs="0" maxOccurs="1" name="autoSuspect" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="categories" type="tns5:ArrayOfCategory" />
          <xsd:element minOccurs="0" maxOccurs="1" name="comments" type="tns5:ArrayOfComment" />
          <xsd:element minOccurs="0" maxOccurs="1" name="created" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="description" type="tns3:Text" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dueDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="externallyLinkedWorkItems" type="tns5:ArrayOfExternallyLinkedWorkItem" />
          <xsd:element minOccurs="0" maxOccurs="1" name="hyperlinks" type="tns5:ArrayOfHyperlink" />
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="initialEstimate" type="tns3:duration" />
          <xsd:element minOccurs="0" maxOccurs="1" name="linkedRevisions" type="tns3:ArrayOfRevision" />
          <xsd:element minOccurs="0" maxOccurs="1" name="linkedRevisionsDerived" type="tns3:ArrayOfRevision" />
          <xsd:element minOccurs="0" maxOccurs="1" name="linkedWorkItems" type="tns5:ArrayOfLinkedWorkItem" />
          <xsd:element minOccurs="0" maxOccurs="1" name="linkedWorkItemsDerived" type="tns5:ArrayOfLinkedWorkItem" />
          <xsd:element minOccurs="0" maxOccurs="1" name="location" type="tns3:Location" />
          <xsd:element minOccurs="0" maxOccurs="1" name="moduleURI" type="tns3:SubterraURI" />
          <xsd:element minOccurs="0" maxOccurs="1" name="outlineNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="plannedEnd" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="plannedStart" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="planningConstraints" type="tns5:ArrayOfPlanningConstraint" />
          <xsd:element minOccurs="0" maxOccurs="1" name="previousStatus" type="tns5:EnumOptionId" />
          <xsd:element minOccurs="0" maxOccurs="1" name="priority" type="tns5:PriorityOptionId" />
          <xsd:element minOccurs="0" maxOccurs="1" name="project" type="tns2:Project" />
          <xsd:element minOccurs="0" maxOccurs="1" name="remainingEstimate" type="tns3:duration" />
          <xsd:element minOccurs="0" maxOccurs="1" name="resolution" type="tns5:EnumOptionId" />
          <xsd:element minOccurs="0" maxOccurs="1" name="resolvedOn" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="severity" type="tns5:EnumOptionId" />
          <xsd:element minOccurs="0" maxOccurs="1" name="status" type="tns5:EnumOptionId" />
          <xsd:element minOccurs="0" maxOccurs="1" name="timePoint" type="tns5:TimePoint" />
          <xsd:element minOccurs="0" maxOccurs="1" name="timeSpent" type="tns3:duration" />
          <xsd:element minOccurs="0" maxOccurs="1" name="title" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="type" type="tns5:EnumOptionId" />
          <xsd:element minOccurs="0" maxOccurs="1" name="updated" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="workRecords" type="tns5:ArrayOfWorkRecord" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customFields" type="tns5:ArrayOfCustom" />
        </xsd:sequence>
        <xsd:attribute name="uri" type="tns3:SubterraURI" />
        <xsd:attribute name="unresolvable" type="xsd:boolean" />
      </xsd:complexType>
      <xsd:complexType name="ArrayOfEnumOptionId">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="EnumOptionId" type="tns5:EnumOptionId" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPriorityOptionId">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="PriorityOptionId" type="tns5:PriorityOptionId" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EnumOption">
        <xsd:sequence>
          <xsd:element name="default" type="xsd:boolean" />
          <xsd:element name="enumId" nillable="true" type="xsd:string" />
          <xsd:element name="hidden" type="xsd:boolean" />
          <xsd:element name="id" nillable="true" type="xsd:string" />
          <xsd:element name="name" nillable="true" type="xsd:string" />
          <xsd:element name="phantom" type="xsd:boolean" />
          <xsd:element name="properties" nillable="true" type="tns3:Properties" />
          <xsd:element name="sequenceNumber" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PriorityOpt">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns5:EnumOption">
            <xsd:sequence>
              <xsd:element name="float" type="xsd:float" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="CustomFieldType">
        <xsd:sequence>
          <xsd:element name="defaultValue" nillable="true" type="xsd:anyType" />
          <xsd:element name="description" nillable="true" type="xsd:string" />
          <xsd:element name="id" nillable="true" type="xsd:string" />
          <xsd:element name="name" nillable="true" type="xsd:string" />
          <xsd:element name="required" type="xsd:boolean" />
          <xsd:element name="type" nillable="true" type="xsd:QName" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EnumCustomFieldType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns5:CustomFieldType">
            <xsd:sequence>
              <xsd:element name="enumId" nillable="true" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllBuildsRequest">
    <wsdl:part name="parameters" element="tns1:getAllBuilds" />
  </wsdl:message>
  <wsdl:message name="queryBuildsResponse">
    <wsdl:part name="parameters" element="tns1:queryBuildsResponse" />
  </wsdl:message>
  <wsdl:message name="getAllBuildsResponse">
    <wsdl:part name="parameters" element="tns1:getAllBuildsResponse" />
  </wsdl:message>
  <wsdl:message name="getBuildsResponse">
    <wsdl:part name="parameters" element="tns1:getBuildsResponse" />
  </wsdl:message>
  <wsdl:message name="queryBuildsRequest">
    <wsdl:part name="parameters" element="tns1:queryBuilds" />
  </wsdl:message>
  <wsdl:message name="getBuildsRequest">
    <wsdl:part name="parameters" element="tns1:getBuilds" />
  </wsdl:message>
  <wsdl:portType name="BuilderWebService">
    <wsdl:operation name="getBuilds">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Gets a build.
@param project the project of the builds to get.
@since 3.3   </wsdl:documentation>
      <wsdl:input name="getBuildsRequest" message="impl:getBuildsRequest" />
      <wsdl:output name="getBuildsResponse" message="impl:getBuildsResponse" />
    </wsdl:operation>
    <wsdl:operation name="queryBuilds">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Query for build.
@param project where query to be used.
@param query the lucene query to be used.
@param sort the field to be used for sorting.
@since 3.3   </wsdl:documentation>
      <wsdl:input name="queryBuildsRequest" message="impl:queryBuildsRequest" />
      <wsdl:output name="queryBuildsResponse" message="impl:queryBuildsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllBuilds">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Gets all builds from Polarion
@since 3.3   </wsdl:documentation>
      <wsdl:input name="getAllBuildsRequest" message="impl:getAllBuildsRequest" />
      <wsdl:output name="getAllBuildsResponse" message="impl:getAllBuildsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BuilderWebServiceSoapBinding" type="impl:BuilderWebService">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBuilds">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getBuildsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getBuildsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryBuilds">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="queryBuildsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="queryBuildsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllBuilds">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getAllBuildsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllBuildsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BuilderWebServiceService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

      This service provides build related functionality.
		  </wsdl:documentation>
    <wsdl:port name="BuilderWebService" binding="impl:BuilderWebServiceSoapBinding">
      <wsdlsoap:address location="http://localhost:83/polarion/ws/services/BuilderWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>